<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="./js/download.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>OBJ转GLTF</h1>
    <form>
        选择文件：<input type="file" id="file" name="file" enctype="multipart/form-data">
        <br><br>
        <input type="button" value="提交" id="btn-upload">
    </form>
</body>
<script src="./js/index.js"></script>

</html>